@font-face {
  font-family: "SFUIDisplaySMB";
  src: url("../fonts/SFUIDisplay-Semibold.ttf"); }

@font-face {
  font-family: "SFUIDisplayReg";
  src: url("../fonts/SFUIDisplay-Regular.ttf"); }

@font-face {
  font-family: "SFUIDisplayLight";
  src: url("../fonts/SFUIDisplay-Light.ttf"); }

@font-face {
  font-family: "AutoNumber";
  src: url("../fonts/AUTONUM.ttf"); }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro.otf"); }

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf"); }

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic.ttf"); }

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf"); }

@font-face {
  font-family: "SupermolotLight";
  src: url("../fonts/SupermolotLight.ttf"); }

@font-face {
  font-family: "SupermolotBold";
  src: url("../fonts/SupermolotBold.ttf"); }

@font-face {
  font-family: "SupermolotBoldItalic";
  src: url("../fonts/SupermolotBoldItalic.ttf"); }

@font-face {
  font-family: "BigNoodleTooOblique";
  src: url("../fonts/BigNoodleTooOblique.ttf"); }

@font-face {
  font-family: "Plainot";
  src: url("../fonts/Plainot.ttf"); }

@font-face {
  font-family: "Exo20";
  src: url("../fonts/Exo20.otf"); }

@font-face {
  font-family: "BehrensModern";
  src: url("../fonts/BehrensModern.ttf"); }

@font-face {
  font-family: "BehrensAntiqua";
  src: url("../fonts/BehrensAntiqua.ttf"); }

@font-face {
  font-family: "CityFlowers";
  src: url("../fonts/CityFlowers.ttf"); }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf"); }

@font-face {
  font-family: "DKKnucklebones";
  src: url("../fonts/DKKnucklebones.otf"); }

@font-face {
  font-family: "NextArt";
  src: url("../fonts/NextArt.otf"); }

html {
  overflow-x: hidden; }

.header-text {
  text-align: center;
  font-family: "SFUIDisplaySMB"; }
  .header-text.modal-text {
    font-family: "NextArt";
    margin-bottom: 0; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

/* FORM STYLES */
.pillow-constructor-form {
  flex-grow: 1;
  font-family: "SFUIDisplaySMB";
  max-width: 400px;
  padding: 1rem; }

.pillow-form-item {
  margin-bottom: 1rem; }
  .pillow-form-item label {
    display: inline-block;
    font-family: "SFUIDisplayReg";
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  .pillow-form-item .pillow-price {
    margin: 0;
    font-family: "SFUIDisplayReg";
    font-size: 1.6rem; }
  .pillow-form-item .pillow-current-price {
    color: #56c75a; }

/* INPUTS STYLES*/
.pillow-form-item input,
.pillow-form-item select,
.pillow-form-item textarea {
  border: 2px solid #b9b9b9;
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  font-family: "SFUIDisplayLight";
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box; }

.pillow-form-item input:focus,
.pillow-form-item select:focus,
.pillow-form-item textarea:focus {
  outline: none;
  border-color: black; }

.pillow-form-item textarea {
  resize: vertical;
  padding-right: 1rem; }

/* COLOR PICKER SETTINGS */
.pillow-color-radio-group input[type="radio"] {
  display: none; }

.color-button {
  display: inline-block;
  position: relative;
  width: 20px;
  margin: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .color-button:hover .tooltip {
    visibility: visible; }
  .color-button span {
    display: block;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    padding: 0;
    background-color: green;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: ease 0.3s; }
    .color-button span:hover {
      padding: 10px; }
    .pillow-color-radio-group input[type="radio"]:checked ~ .color-button span {
      padding: 10px; }
  .color-button .milky {
    background-color: #e9e6e1; }
  .color-button .black {
    background-color: #000000; }
  .color-button .red {
    background-color: #e82b00; }
  .color-button .ruby {
    background-color: #861f1c; }
  .color-button .cyan {
    background-color: #559ffd; }
  .color-button .blue {
    background-color: #141cfd; }
  .color-button .light-gray {
    background-color: #dcdcdc; }
  .color-button .dark-gray {
    background-color: #383a39; }
  .color-button .light-beige {
    background-color: #e6dfca; }
  .color-button .dark-beige {
    background-color: #9d7f5c; }
  .color-button .gold {
    background-color: #ffd700; }
  .color-button .white {
    background-color: #ffffff; }
  .color-button .rose {
    background-color: #CE3D6D; }
  .color-button .silver {
    background-color: #c0c0c0; }
  .color-button .gray {
    background-color: #808080; }
  .color-button .green {
    background-color: #008000; }
  .color-button .brown {
    background-color: #643603; }
  .color-button .fuscate {
    background-color: #b7d455; }
  .color-button .light-purple {
    background-color: #ad9ed1; }
  .color-button .purple {
    background-color: #483871; }
  .color-button .lilac {
    background-color: #803e89; }
  .color-button .orange {
    background-color: #c46904; }
  .color-button .turquoise {
    background-color: #53b5a4; }
  .color-button .yellow {
    background-color: #dfc417; }

.remark {
  color: red; }

/* PREVIEW STYLES */
.pillow-constructor-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  font-family: "SFUIDisplaySMB";
  max-width: 400px;
  padding: 1rem; }
  .pillow-constructor-preview .section-header {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; }
  .pillow-constructor-preview .side-header {
    color: #7a7a7a;
    text-align: center;
    text-transform: uppercase; }
  .pillow-constructor-preview img {
    width: 400px; }

.pillow-preview-frontside,
.pillow-preview-backside,
.headrest-preview {
  position: relative; }

.front-logo,
.front-model,
.front-text,
.front-number,
.front-number-text,
.front-number-region,
.back-logo,
.back-text,
.headrest-logo {
  position: absolute; }
  .front-logo img,
  .front-model img,
  .front-text img,
  .front-number img,
  .front-number-text img,
  .front-number-region img,
  .back-logo img,
  .back-text img,
  .headrest-logo img {
    width: 100%; }

.front-logo,
.back-logo {
  width: 20%;
  top: 20%;
  left: 40%; }

.logo-state-1 {
  width: 20%;
  top: 20%;
  left: 40%; }

.logo-state-2 {
  width: 35%;
  top: 20%;
  left: 33%; }

.logo-state-3 {
  width: 40%;
  top: 25%;
  left: 30%; }

.logo-state-4 {
  width: 45%;
  top: 30%;
  left: 27%; }

.headrest-logo {
  width: 20%;
  top: 25%;
  left: 40%; }

.front-model {
  color: white;
  text-align: center;
  top: 40%;
  left: 15%;
  font-size: 1.5rem;
  width: 70%;
  word-break: break-word; }

.front-text,
.back-text {
  color: white;
  text-align: center;
  top: 50%;
  width: 60%;
  left: 20%;
  word-break: break-word; }

.front-number {
  top: 60%;
  left: 25%;
  width: 200px; }

.front-number img {
  width: 100%; }

.front-number-text,
.front-number-region {
  font-family: "AutoNumber";
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: uppercase; }

.front-number-text {
  top: 0%;
  left: 5%;
  font-size: 0px; }

#front-number-text-letter,
#front-number-text-letters {
  font-size: 1.6rem; }

#front-number-text-digits {
  font-size: 2.5rem; }

.front-number-region {
  top: -47%;
  width: 46px;
  text-align: center;
  left: 76%;
  font-size: 1.5rem; }

.active-side {
  outline: 2px #b9b9b9 solid; }

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: white;
  border: 2px solid #b9b9b9;
  border-radius: 10px;
  box-sizing: content-box;
  text-align: center;
  left: -95px;
  top: -60px;
  width: 190px;
  z-index: 1000; }

.ui-draggable:hover {
  cursor: move; }

.copyright-footer {
  text-align: center; }

/* Modal Window */
#modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: #31a6d9;
  color: #ffffff;
  width: 89%;
  max-width: 860px;
  position: fixed;
  top: -30%;
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  padding: 1rem;
  z-index: 5; }
  @media (max-width: 960px) {
    #modal {
      left: 0;
      margin: -250px 4% 0 4%; } }
  #modal input {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: transparent;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    font-family: "SFUIDisplayLight";
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box; }
    #modal input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #ffffff; }
    #modal input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #ffffff; }
    #modal input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #ffffff; }
    #modal input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #ffffff; }
  #modal .modal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem; }
    @media (max-width: 650px) {
      #modal .modal-content {
        flex-direction: column; } }
  #modal .customer-info {
    max-width: 400px; }
  #modal .customer-text {
    font-family: "SFUIDisplayReg";
    font-size: 1.5em; }
    @media (max-width: 650px) {
      #modal .customer-text {
        text-align: center; } }
  #modal .congrats-text {
    margin: 6rem 0;
    font-family: "SFUIDisplayReg";
    text-align: center;
    font-size: 3em; }
  #modal .flex-row {
    display: flex;
    justify-content: space-between; }

.caution {
  font-family: 'SFUIDisplayReg';
  color: black; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

button {
  color: white;
  background-color: #56c75a;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  height: 4rem;
  width: 100%;
  font-family: "SFUIDisplaySMB";
  font-size: 1.5rem;
  outline: none;
  border-color: black; }
  button.save_pic {
    background-color: #848484;
    margin-left: 0.5rem; }
  button:hover {
    background-color: #3ab03e; }
    button:hover#submited {
      background-color: #56c75a; }
