<div id="modal">
    <h1 class="header-text modal-text">Осталось совсем чуть-чуть ;)</h1>
    <div class='modal-content'>
        <div class="pillow-image">
            <img src="./images/modal_background.png">
        </div>
        <div class='customer-info'>
            <p class='customer-text'>Заполните Ваши данные: </p>
            <input type='text' form='pillow-form' name='customer_name' placeholder="Ваше имя*" required>
            <input type='text' id='telephone' form='pillow-form' name='customer_phone' placeholder="Ваш телефон*" required>
            <input type='email' form='pillow-form' name='customer_email' placeholder="Ваш e-mail..." >
            <div class='flex-row'>
                <button type='submit' form='pillow-form' id="submit_button">Подтвердить заказ</button>
                <button class='save_pic'>Скачать эскиз</button>   
            </div>
        </div>    
        <div class='congratutlations' style='display:none'>
            <h1 class="congrats-text">СПАСИБО ЗА ЗАКАЗ!</h1>
            <div class='flex-row'>
                <button type='submit' form='pillow-form' id="submited">Отправлено</button>
                <button class='save_pic'>Скачать эскиз</button>   
            </div>
        </div>
            
        
    </div>
    <div class="caution">
        <span class="remark"> ВНИМАНИЕ: </span>
        Созданный Вами дизайн будет дополнительно обработан в специальной программе для загрузки в вышивальную машину. Перед началом вышивки, обработанный дизайн будет дополнительно с Вами согласован.
    </div>
</div>
<div id="overlay"></div>
