<div class="pillow-constructor-preview">
    <p class="section-header">Выберите сторону</p>
    <div class='pillow-preview'>
        
        <div class="pillow-preview-frontside active-side">
            <p class="side-header">Лицевая сторона</p>
            <div class="content">
                <div class='front-logo logo-state-1'>
                    <img id='front-logo-img' src="./images/logo/Безлого.png" alt="">
                </div>
                <div class='front-model'></div>
                <div class='front-text'></div>
                <div class='front-number'>
                    <p class="front-number-text">
                        <span id='front-number-text-letter'></span>
                        <span id='front-number-text-digits'></span>
                        <span id='front-number-text-letters'></span>
                    </p>
                    <p class="front-number-region"></p>
                    <img src="./images/num.png">
                </div>
                <img id='pillow-front-image' src='./images/autopillow/black.png'>
            </div>
        </div>

        <div class="pillow-preview-backside">
            <p class="side-header">Задняя сторона</p>
            <div class="content">
                <div class='back-logo logo-state-1'>
                    <img id='back-logo-img' src="./images/logo/Безлого.png" alt="">
                </div>
                <div class="back-text"></div>
                <img id='pillow-back-image' src='./images/autopillow/black.png'>
            </div>
        </div>
    </div>
    
    <div class='headrest-preview'>
        <div class='content'>
            <div class='headrest-logo logo-state-1'>
                <img id='headrest-logo-img' src='./images/logo/Безлого.png' alt="">
            </div>
            <p class='front-text'></p>
            <img id='headrest-image' src='./images/autoheadrest/color-black1outline-gold.png'>
        </div>
    </div>
</div>