$colors: (
  ("milky", #e9e6e1),
  ("black", #000000),
  ("red", #e82b00),
  ("ruby", #861f1c),
  ("cyan", #559ffd),
  ("blue", #141cfd),
  ("light-gray", #dcdcdc),
  ("dark-gray", #383a39),
  ("light-beige", #e6dfca),
  ("dark-beige", #9d7f5c),
  ("gold", #ffd700),
  ("white", #ffffff),
  ("rose", #CE3D6D),
  ("silver", #c0c0c0),
  ("gray", #808080),
  ("green", #008000),
  ("brown", #643603),
  ("fuscate", #b7d455),
  ("light-purple", #ad9ed1),
  ("purple", #483871),
  ("lilac", #803e89),
  ("orange", #c46904),
  ("turquoise", #53b5a4),
  ("yellow", #dfc417)
);
